html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: lightgray;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: black;
  transition: 300ms ease-in-out;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/*********

  STYLES

*********/

canvas {
  width: 100%;
  height: 50%
}

header {
  position: relative;
  margin: 30px 0;
}

header:after {
  content: '';
  width: 460px;
  height: 15px;
  background: url(images/intro-div.svg) no-repeat center;
  display: inline-block;
  text-align: center;
  background-size: 70%;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 3rem 0rem 1rem 0rem;
  font-family: 'Poppins', sans-serif;
}

.nowplaying {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 5rem;
  line-height: 1;
  color: black;
  transition: all .07s ease;
  min-height: 120px;
}

.light {
  color: lightgray;
}

.keys {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 0px auto 30px;
  cursor: pointer;
  transition: 500ms linear;
}

.key {
  position: relative;
  border: 2px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, .9);
}

.key.sharp {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.key[data-key="87"] {
  left: 7%;
}

.key[data-key="69"] {
  left: 17%;
}

.key[data-key="84"] {
  left: 37%;
}

.key[data-key="89"] {
  left: 47%;
}

.key[data-key="85"] {
  left: 57%;
}

.key[data-key="79"] {
  left: 77%;
}

.key[data-key="80"] {
  left: 87%;
}

.lottie {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playing {
  transform: translateY(3px);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  transition: 100ms linear;
}

.hints {
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  color: black;
  z-index: 200;
}

.hintSharp {
  font-size: 1.5rem;
  position: absolute;
  bottom: 150px;
  color: black;
  z-index: 200;
  color: lightgray;
}

.squig {
  height: 80px;
}

.key3 {
  position: relative;
}

.hint1 {
  left: 38px;
}

.hint2 {
  left: 76px;
}

.hint3 {
  left: 121px;
}

.hint4 {
  left: 169px;
}

.hint5 {
  left: 214px;
}

.hint6 {
  left: 301px;
}

.hint7 {
  left: 345px;
}

.hint8 {
  left: 390px;
}

.hint9 {
  left: 431px;
}

.hint10 {
  left: 478px;
}

.hint11 {
  left: 521px;
}

.hint12 {
  left: 569px;
}

.hint13 {
  left: 655px;
}

.hint14 {
  left: 696px;
}

.hint15 {
  left: 743px;
}

.hint16 {
  left: 787px;
}

.hint17 {
  left: 835px;
}

/* SLIDER CSS */

.switch {
  right: 50px;
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 30px;
}

.switch2 {
  top: 70px;
}

.hintIcon {
  position: fixed;
  font-size: 1.5rem;
  right: 20px;
  top: 76px;
}

.modeIcon {
  position: fixed;
  font-size: 1.5rem;
  right: 20px;
  top: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(0, 0, 0, 0.8);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}